/**
 * CSS pour la page d'inscription
 *
 * Nom :         inscription.css
 * Catégorie :   Style
 * Auteur :      Karl Boutin
 * Version :     1.0
 * Date de la dernière modification : 2019-09-30
 */
main{
  margin-bottom: 25px;
}

.error{
  display: none;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background-color: #D92B1A;
  border-radius: 10px;
  opacity: 0.9;
}

.icon-error{
  width: 20px;
  display: inline-block;
  height: 50px;
  margin-left: 20px;
  margin-top: 15px;
  color: #fff;
}

.text-error{
  display: inline-block;
  margin-left: 5px;
  color: #fff;
  font-size: 12px;
}

.input-inscr{
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  border-bottom: 2px solid #9E9E9E;
  width: 100%;
  padding: 5px;
  padding-bottom: 2px;
  font-size: 14px;
  background-color: #FFFFFF;
}

::placeholder{
  color: #C8C8C8;
  opacity: 1;
}

.redPlaceholder::placeholder{
  color: #ff0000;
  opacity: 1;
}

.defaultPlaceholder::placeholder{
  color: #C8C8C8;
  opacity: 1;
}

.borderBottomColor{
  border-bottom-color: #f0592a;
}

.input-inscr:focus{
  outline: initial;
  border-bottom-color: #f0592a;
  -webkit-transition: border-bottom-color 0.4s;
  -moz-transition: border-bottom-color 0.4s;
  -o-transition: border-bottom-color 0.4s;
  transition: border-bottom-color 0.4s;
}

.input-long{
  width: 100%;
}

.btn-confirmer{
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f0592a;
  border: none;
  padding: 0;
  border-radius: 70px;
  color: #FFF;
  cursor: pointer;
  height: 40px;
  margin-top: 5px;
}

.btn-confirmer:hover{
  opacity: 0.8;
}

.m-long{
  width: 100%;
}

.m-top{
  margin-top: 20px;
}

/******Fenetre modale dans inscription*****/
.modal-inscription{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 95%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Ajouter l'animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-align-middle{
  display: block;
  width: 200px;
  margin: 0 auto;
}

.btn-compte-existant{
  background-color: #034e54;
}

.txt-modal-bienv{
  width: 300px;
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
  color: #f0592a;
}

.btn-modal-insc{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.btn-modal-insc button{
  width: 200px;
}

/*****************Pour le responsive de la page*********************/

@media only screen and (min-width: 768px) {
    .modal-content{
      width: 584px;
    }

    .inscription{
      width: 510px;
    }

    .input-inscr{
      width: 240px;
    }

    .input-date{
      width: 157px;
    }

    .input-long{
      width: 490px;
    }

    .box-select{
      display: inline-block;
      position: relative;
    }

    .second-input{
      margin-left: 5px;
    }


    .m-top{
      margin-top: 0;
    }
}
