.img-modal{
  /* margin-bottom: 15px; */
}

.modal-titre{
  text-align: center;
  margin-bottom: 0px;
}

.modal-description{
  width: 100%;
  background-color: white !important;
  resize: none;
  overflow: hidden;
}
