label{
  cursor: auto !important;
}

option:disabled{
  color: #000 !important;
}

select{
  border-radius: 0 !important;
  cursor: default !important;
  margin: 0 !important;
  height: auto !important;
  line-height: inherit !important;
}

.input-inscr{
  border-radius: 0 !important;
}

.contact-link a {
    opacity: 1 !important;
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.contact-link a:hover{
  opacity: 0.8 !important;
}

html,body{
  font-family: 'Montserrat', sans-serif !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

button,textarea,input{
  font-weight: 400 !important;
  box-shadow: none !important;
}

.list-menu{
  margin: 0;
}

.li-menu{
  line-height: 0;
}

.input-date{
  width: 32%;
}

.input-inscr{
  border: 0;
  border-bottom: 2px solid #9E9E9E;
  padding: 5px;
  padding-bottom: 2px;
  font-size: 14px;
  background-color: #FFFFFF;
}
