label{
  cursor: auto !important;
}

option:disabled{
  color: #000 !important;
}

select{
  border-radius: 0 !important;
  cursor: default !important;
  margin: 0 !important;
  height: auto !important;
  line-height: inherit !important;
}

.input-inscr{
  border-radius: 0 !important;
}

.contact-link a {
    opacity: 1 !important;
    color: #FFFFFF !important;
    text-decoration: none !important;
}

.contact-link a:hover{
  opacity: 0.8 !important;
}

*{
  font-family: 'Montserrat', sans-serif !important;
}

html,body{
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

button,textarea{
  font-weight: 400 !important;
  box-shadow: none !important;
}

.btn-confirmer{

}
