/**
 * CSS pour la page d'inscription
 *
 * Nom :         gestionReservation.css
 * Catégorie :   Style
 * Auteur :      William Gonin
 * Version :     1.0
 * Date de la dernière modification : 2019-09-30
 */
 .texteEkha{
   color:#034E53;
 }
 .boxService{
   width:250px;
   height:18px;
   border:1px solid;
   border-color:#000;
   background-color:#D3D3D3;
   resize:none;
 }
 .boxDuree{
   width:250px;
   height:18px;
   margin-top:10px;
   border:1px solid;
   border-color:#000;
   background-color:#D3D3D3;
 }
 .boxQuestion{
   width:510px;
   height:18px;
   margin-top:10px;
   border:1px solid;
   border-color:#000;
   background-color:#D3D3D3;
 }
 .inputQuestion{
   width:250px;
   height:18px;
   margin-top:10px;
   border:1px solid;
   border-color:#000;
   background-color:#D3D3D3;
   margin-left:5px;
   float:left;
 }
 .inputNb{
   width:250px;
   height:18px;
   margin-top:10px;
   border:1px solid;
   border-color:#000;
   background-color:#D3D3D3;
   margin-left:5px;
   float:left;
 }
 .inputType{
   width:120px;
   height:18px;
   margin-top:10px;
   border:1px solid;
   border-color:#000;
   background-color:#D3D3D3;
   margin-left:5px;
   float:left;
 }
 .inputId{
   width:40px;
   height:18px;
   margin-top:10px;
   border:1px solid;
   border-color:#000;
   background-color:#D3D3D3;
   margin-left:5px;
   float:left;
 }
 .boxType{
   width:250px;
   height:18px;
   border:1px solid;
   border-color:#000;
   background-color:#D3D3D3;
 }
 .boxDescription{
   width:250px;
   height:100px;
   margin-top:10px;
   border:1px solid;
   border-color:#000;
   background-color:#D3D3D3;
   resize:none;
 }
 .reservez{
   margin-top:80px;
 }
 .submitAjout{
  font-size: 15px;
  width:120px;
  height:35px;
  color:#FFF;
  background-color:#FF697E;
  background-size: 90px 35px;
  border:none;
  border-radius: 20px;
  float:left;
  margin-left:20px;
  margin-top:5px;
}
.submitAjoutQuestion{
 font-size: 15px;
 width:70px;
 height:40px;
 color:#FFF;
 background-color:#FF697E;
 background-size: 90px 35px;
 border:none;
 border-radius: 20px;
 margin-right:45px;
 float:right;
}
.submitSupprimerQuestion{
 font-size: 15px;
 width:90px;
 height:40px;
 color:#FFF;
 background-color:#EC592A;
 background-size: 90px 35px;
 border:none;
 border-radius: 20px;
 margin-right:45px;
 float:right;
}
.btn-confirmer{
  display: block;
  margin: 0 auto;
}
.mainReservation{
  width:100%;
  overflow: hidden;
}
.submitRetour{
  font-size: 15px;
  width:120px;
  height:35px;
  color:#FFF;
  background-color:#034E54;
  background-size: 90px 35px;
  border:none;
  border-radius: 20px;
  float:left;
  margin-left:300px;
  margin-top:80px;
}
.question{

}
.submitSupprimer{
  font-size: 15px;
  width:120px;
  height:35px;
  color:#FFF;
  background-color:#EC592A;
  background-size: 90px 35px;
  border:none;
  border-radius: 20px;
  float:left;
  margin-left:10px;
  margin-top:5px;
}
.submitModifier{
  font-size: 15px;
  width:120px;
  height:35px;
  color:#FFF;
  background-color:#034E54;
  background-size: 90px 35px;
  border:none;
  border-radius: 20px;
  float:left;
  margin-left:80px;
  margin-top:10px;
}
 .prix{
   margin-top:30px;
 }
 .descriptionC{
   margin-top:30px;
 }
 .choisirServ{
   margin-top:10px;
   float:left;
 }
 .choisirDuree{
   margin-top:10px;
   margin-right:200px;
   float:right;
 }
 .choisirType{
   margin-top:30px;
 }
 .reservationMain{
   width:800px;
   height:40px;
   margin-left:500px;
   margin-bottom:1200px;
 }
 .reservationHeader{
   background-color:#034E54;
 }
 .imgHeader{
   width:100px;
   height:40px;
 }
 .reservationImg{
   height:200px;
 }
 .imgPrincipal{
   width:800px;
   height:250px;
   float:left
 }
 .cacher{
   display:none;
 }
 .titreImg{
   margin-left:420px;
   font-size:40px;
   color:#fff;
   transform: translate(-50%, -50%);
 }
 .titreReservation{
   margin-left:10px;
   color:#034E54;
 }
 .duree{
   margin-top:30px;
 }
 .tableauActivite{
   margin-left:60px;
   margin-top:20px;
   float:left;
 }
 .tableauDuree{
   margin-right:140px;
   margin-top:20px;
   float:right;
 }
 .sectionActivite{
  width:280px;
  height:45px;
  border:1px solid;
  border-color:#808080;
  background-color:#fff;
 }
 .sectionDuree{
  width:220px;
  height:45px;
  border:1px solid;
  border-color:#808080;
  background-color:#fff;
 }
 .titreActivite{
   margin-left:3px;
   margin-top: 12px;
   float:left;
   font-size: 15px;
 }
 .boiteSelection{
   transition: background-color 2s ease;
   width:20px;
   height:20px;
   border:1px solid;
   border-color:#000;
   background-color:#D3D3D3;
   float: right;
   margin-right:25px;
   margin-top:10px
 }
 .boiteSelection:hover {
  background-color: #034E54;
}
.ouverture{
  transition: background-color 0.1s ease;
  background-color:#adff2f;
}
.selectionne{
  transition: background-color 2s ease;
  background-color:#008000;
}
.desactive{
  transition: background-color 2s ease;
  background-color:#FF0000;
}
