/**
 * CSS pour la page d'inscription
 *
 * Nom :         inscription.css
 * Catégorie :   Style
 * Auteur :      Karl Boutin
 * Version :     1.0
 * Date de la dernière modification : 2019-09-30
 */
main{
  margin-bottom: 25px;
}

.inscription{
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 0 8px 0 5px;
}

.logo-inscr{
  display: block;
  margin: 0 auto;
  width: 210px;
  margin-top: 40px;
}

.txt-inscr{
  text-align: center;
  font-size: 26px;
  color: #034e54;
  font-weight: 400;
  margin-top: 20px;
}

.txt-bienv{
  padding-top: 30px;
  color: #034e54;
}

.error{
  display: none;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background-color: #D92B1A;
  border-radius: 10px;
  opacity: 0.9;
}

.icon-error{
  width: 20px;
  display: inline-block;
  height: 50px;
  margin-left: 20px;
  margin-top: 15px;
  color: #fff;
}

.text-error{
  display: inline-block;
  margin-left: 5px;
  color: #fff;
  font-size: 12px;
}

.input-inscr{
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  border-bottom: 2px solid #9E9E9E;
  width: 100%;
  padding: 5px;
  padding-bottom: 2px;
  font-size: 14px;
  background-color: #FFFFFF;
}

::placeholder{
  color: #C8C8C8;
  opacity: 1;
}

.redPlaceholder::placeholder{
  color: #ff0000;
  opacity: 1;
}

.defaultPlaceholder::placeholder{
  color: #C8C8C8;
  opacity: 1;
}

.borderBottomColor{
  border-bottom-color: #f0592a;
}

.input-inscr:focus{
  outline: initial;
  border-bottom-color: #f0592a;
  -webkit-transition: border-bottom-color 0.4s;
  -moz-transition: border-bottom-color 0.4s;
  -o-transition: border-bottom-color 0.4s;
  transition: border-bottom-color 0.4s;
}

.group-input-inscr{
  margin-top: 20px;
}

.input-date{
  width: 32%;
}

.input-long{
  width: 100%;
}

.select-inscr{
  -webkit-appearance: button;
  -moz-appearance: button;
  border: 0;
  border-bottom: 2px solid #9E9E9E;
  padding: 5px;
  padding-bottom: 2px;
  color: #C8C8C8;
  font-size: 14px;
}

.box-select{
  display: block;
  position: relative;
}

.box-select:before{
  content: '\f0dd';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  text-align: center;
  color: #f0592a;
  top: 0;
  right: 0;
  width: 40px;
  height: 38px;
  pointer-events: none;
}

select::-ms-expand {
    display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}

.select-inscr option{
  color: #000000;
}

.select-inscr:focus{
  outline: initial;
  border-bottom-color: #f0592a;
  color: #f0592a;
  -webkit-transition: border-bottom-color 0.4s;
  -moz-transition: border-bottom-color 0.4s;
  -o-transition: border-bottom-color 0.4s;
  transition: border-bottom-color 0.4s;
  transition: color 0.4s;
}

.option-vide{
  display: none;
}

input:focus::-webkit-input-placeholder {
    color: #f0592a;
    -webkit-transition: border-bottom-color 0.4s;
    -moz-transition: border-bottom-color 0.4s;
    -o-transition: border-bottom-color 0.4s;
    transition: border-bottom-color 0.4s;
}

input:focus:-moz-placeholder {
    color: #f0592a;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

.btn-confirmer{
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f0592a;
  border: none;
  padding: 0;
  border-radius: 70px;
  color: #FFF;
  cursor: pointer;
  height: 40px;
  margin-top: 5px;
}

.btn-confirmer:hover{
  opacity: 0.8;
}

.btn-compte-existant{
  background-color: #034e54;
}

.btn-espace{
  margin-top: 10px;
}

#nom{
  margin-top: 20px;
}

.m-long{
  width: 100%;
}

.m-top{
  margin-top: 20px;
}

.block-requis-psw{
  display: none;
  width: 100%;
  height: 100px;
  margin-top: 20px;
  background-color: #034e54;
  box-shadow: 0 0 4px 2px #000;
  color: #fff;
  font-size: 12px;
  padding-left: 20px;
  padding-top: 10px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.6s;
  animation-name: animatetop;
  animation-duration: 0.6s
}

.block-requis-psw p{
  display: inline-block;
  margin-left: 15px;
}

/* Ajouter l'animation au block requis mot de passe*/
@-webkit-keyframes animate-requis {
  from {top:-200px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animaterequis {
  from {top:-200px; opacity:0}
  to {top:0; opacity:1}
}

.error-courriel{
  display: none;
  font-size: 12px;
  padding-left: 5px;
  color: #D92B1A;
}

/******Fenetre modale dans inscription*****/
.modal-inscription{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 95%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Ajouter l'animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-align-middle{
  display: block;
  width: 200px;
  margin: 0 auto;
}

.img-conf-insc{
  margin-top: 50px;
}

.img-conf-insc img{
  width: 200px;
}

.txt-bravo{
  font-size: 26px;
  text-align: center;
  margin-top: 30px;
  color: #034e54;
}

.txt-modal-bienv{
  width: 300px;
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
  color: #f0592a;
}

.btn-modal-insc{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.btn-modal-insc button{
  width: 200px;
}

/*****************Pour le responsive de la page*********************/

@media only screen and (min-width: 768px) {
    .modal-content{
      width: 625px;
    }

    .inscription{
      width: 510px;
    }

    .input-inscr{
      width: 240px;
    }

    .input-date{
      width: 157px;
    }

    .input-long{
      width: 490px;
    }

    .box-select{
      display: inline-block;
      position: relative;
    }

    .second-input{
      margin-left: 5px;
    }

    .btn-espace{
      margin-top: 0;
    }

    #nom{
      margin-top: 0;
    }

    .m-top{
      margin-top: 0;
    }
}
